
body
{
    margin:0;
    padding:0;
    background-image: url("pub.png");
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
}


body:hover
{
    background-image:url("cc.jpg");


}
.loginbox{
    width: 400px;
    height: 525px;
    background: #000;
    color:#fff;
    top:  50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.d
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50% - 50px);
}
h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: o;
    padding:0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"],input[type="password"]
{border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}
.loginbox input[type="submit"]{
    border:none;
    outline: none;
    height:40px;
    background:#fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.lower input[type="checkbox"]
{width:20;
position: relative;
height:12;


}
.lower label{
    font-size: 12;
    font-family: initial;
    
}
